
body,h2{
    font-family: 'Poppins', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 22px;
    font-weight: 500;
    background-color: #e1ffff00;
}

h2 {
    margin: 0;
}

/* Font Sizes */
.home-title {
    font-size: 2em;
}

.book, .join {
    font-size: 18px;
}
.mountains {
    padding: 25px 50px;
    display: flex;
    align-items: center;
}

.mountains img {
    margin-right: 20px; 
}
.msg p {
    font-size: 0.8em;
    background-color: #aee5ff00;
    line-height: 1.5;
}

/* Padding */
#logo_link{
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    color: #fbfcfc;
    text-align: center;
    padding: 35px;
}

.book, .join {
    background-color: #ffffff;
    color: rgb(255, 250, 250);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
/* .mountain{
    margin: 0 auto;
    padding-top: 10px;
} */

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

/* Margin */
.home-title {
    margin-top: 10px;
}

.book, .join {
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
}

/* Borders and Border Radius */
.book, .join {
    background-color: #ffffff;
    color: rgb(255, 250, 250);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 8px;
}

.card-img {
    border: 10px solid #0e6dea4f;
}

/* Box Sizing */
main section img {
    box-sizing: border-box;
}

/* Other Styles */
#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(149, 206, 247);
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
    background-color: #ffffff;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
}

#background {
    height: 725px;
    background-color: #b2cff5;
    margin-top: 200px;
    margin-bottom: 50px;
}

.msg {
    background-color: #b2cff5;
    margin-top: 50px;
}

footer {
    background-color: rgb(4, 44, 104);
}

nav a,
nav a:hover,
.home-title,
h4,
.book:hover,
.join:hover,
/* .msg h2, */
msg p,
footer,
footer a,
footer a:hover {
    background-color: rgb(149, 206, 247);
}

.book, .join {background-color: rgb(2, 45, 75);
}
.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}