
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
}

#background {
    height: 725px;
}

.msg {
    background-color: white
    
}

footer {
    background-color: whitesmoke
   
}

nav a,
nav a:hover,
.home-title,
h4,
.book,
.join,
.book:hover,
.join:hover,
.msg h2,
.msg p,
footer,
footer a,
footer a:hover {  background-color: rgb(168, 187, 200);}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}