body {
    text-align: center;
  }
  body {
    margin: 0
}
  nav {
    background-color: steelblue;
    padding: 80px;
  }
  a:hover {
    background-color: white;
    color: steelblue;
}
  a {
    color: white;
    margin: 40px;
  }
  nav {
    padding: 25px;
}

a {
  padding: 25px;
}
  
  h1 {
    color: steelblue;
    
  }
  h1 {
    margin: 100px 0;
}
  
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  
  img {
    width: 80%;
}
a {
  font-size: 1.5em;
}

  p {
    padding: 10px;
  }
  
  main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

  #active {
    background-color: white;
    color: steelblue;
}


nav, footer {
  background-color: steelblue;
  color: white;
  padding: 25px;
}